extends ../layouts/main

block append styles
    link(rel='stylesheet', href='#{paths.lib}/fancybox/source/jquery.fancybox.css')
    link(rel='stylesheet', href='#{paths.lib}/fancybox/source/helpers/jquery.fancybox-thumbs.css')

block append footer-scripts
    //- Base libraries
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')

    //- Interaction libraries and their dependencies
    script(src='#{paths.lib}/fancybox/source/jquery.fancybox.pack.js')
    script(src='#{paths.lib}/fancybox/source/helpers/jquery.fancybox-thumbs.js')

    //- Page-specific scripts
    script(src='#{paths.js}/home.js')

block content

    section.hero
        .center
            img.heroImage(src='#{paths.img}/home/hero.jpg')

            aside.colorSelector
                p Show tack that complements:
                ul.outline
                    li.selector(data-color='all') All horses
                    li.selector(data-color='grey') Greys
                    li.selector(data-color='bay') Bays
                    li.selector(data-color='chestnut') Chestnuts
                    li.selector(data-color='black') Blacks

                .colorImages
                    img(data-color='all', src='#{paths.img}/home/colorSelector--all.png', class="colorSelector--all active")
                    img(data-color='grey', src='#{paths.img}/home/colorSelector--grey.png', class="colorSelector--grey")
                    img(data-color='bay', src='#{paths.img}/home/colorSelector--bay.png', class="colorSelector--bay")
                    img(data-color='chestnut', src='#{paths.img}/home/colorSelector--chestnut.png', class="colorSelector--chestnut")
                    img(data-color='black', src='#{paths.img}/home/colorSelector--black.png', class="colorSelector--black")

    .center
        section.intro
            h3 Adorning Arabian Legends Around the World...
            p Gina Dupree, owner and founder of Arabian Fancy Tack, sets the standard for beautiful hand-made adornments for Arabian horses. Her designs are featured in publications and show rings across the globe and never cease to inspire.
            p: a(href='#{paths.root}/contact') Commission Gina for your next piece timeless piece!

        section.gallery--spotlight
            h3 Arabian Fancy is in the Spotlight!
            ul
                li: a.fancybox(rel='group' href='#{paths.img}/home/spotlight_1large.jpg'): img(src='#{paths.img}/home/spotlight_1.jpg', alt='Tack by Arabian Fancy')
                li: a.fancybox(rel='group' href='#{paths.img}/home/spotlight_2large.jpg'): img(src='#{paths.img}/home/spotlight_2.jpg', alt='Tack by Arabian Fancy')
                li: a.fancybox(rel='group' href='#{paths.img}/home/spotlight_3large.jpg'): img(src='#{paths.img}/home/spotlight_3.jpg', alt='Tack by Arabian Fancy')
                li: a.fancybox(rel='group' href='#{paths.img}/home/spotlight_4large.jpg'): img(src='#{paths.img}/home/spotlight_4.jpg', alt='Tack by Arabian Fancy')
            p.small <span class='topPhotoCred'>Top photo by Suzanne Sturgill.</span> Above photos by Nancy Pierce, Suzanne Sturgill, April Visel, and Lisa Abraham.
