extends ../layouts/main

block append styles
    link(rel='stylesheet', href='#{paths.lib}/fancybox/source/jquery.fancybox.css')
    link(rel='stylesheet', href='#{paths.lib}/fancybox/source/helpers/jquery.fancybox-thumbs.css')


block append footer-scripts
    //- Base libraries
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')

    //- Interaction libraries and their dependencies
    script(src='#{paths.lib}/fancybox/source/jquery.fancybox.pack.js')
    script(src='#{paths.lib}/fancybox/source/helpers/jquery.fancybox-thumbs.js')
    script(src='#{paths.lib}/mixitup/jquery.mixitup.js')


    //- Page-specific scripts
    script(src='#{paths.js}/tack.js')


block content

    .center

        //- aside.contact-gina
        //-     p More features are coming soon! <a href='#{paths.root}/contact'>Contact Gina</a> for pricing!



        section.utilities

            article.colorFilters
                p Show tack that complements:
                ul
                    li.filter(data-filter='all') All horses
                    li.filter(data-filter='.grey, .all') Greys
                    li.filter(data-filter='.bay, .all') Bays
                    li.filter(data-filter='.chestnut, .all') Chestnuts
                    li.filter(data-filter='.black, .all') Blacks

            article.favorites
                h3 My Favorites

                ul.favoritesList.noFavorites
                    li.noFavoritesPrompt
                        p.small
                            | You haven't chosen any favorites yet.<br>
                            | Click a design's <i class='fa fa-heart-o'></i> symbol to add it here!

                p: a.button.button--orderFavorites(href='#{paths.root}/contact') Order tack like my Favorites

            article
                p.small
                    | Have a question or unique request?
                    | See the <a href='#{paths.root}/faq'>FAQ</a> or <a href='#{paths.root}/contact'>contact Gina</a> for more information.



        section.tackContainer

            //- Loop through all of the tack items and render them on the tack grid

            each item, i in photos.photos

                div(class='tackItem mix #{item.colors}', data-id='#{item.id}')
                    a.fancybox(
                            rel='group',
                            href='#{paths.img}/tack/arabian-fancy-tack_#{item.id}.jpg',
                            title='test title?')

                        img(src='#{paths.img}/tack/arabian-fancy-tack_#{item.id}.jpg', alt='Tack by Arabian Fancy')

                    .button--addFavorite
                        i.fa.fa-heart-o
                        i.fa.fa-heart
